@tailwind base;

@tailwind components;

@tailwind utilities;

.slick-slide div {
display: flex !important;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

input {
  @apply focus:outline-none;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
